* {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    cursor:	default;
}

body {
	text-align: center;
	vertical-align: center;
}

canvas {
	border-style: solid;
	border-width: 10px;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;

	-moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* Internet Explorer */
    -khtml-user-select: text; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: text; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: text; /* Disable Android and iOS callouts*/
    cursor:	text;
}

#welcome {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	margin: 0;
}

#title {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 4em;
	margin: 0;
}
